@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Asap+Condensed:ital,wght@1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    }

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 100px;
} 

.header-logo{
    height: 150px;
}

.navbar{
    display: flex;
     gap: 32px;
}

.header-item{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 400px;
    font-size: 22px;
    color: black;
}

.content{
      border-bottom: 48px;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.main-content .post{
    height: 400px;
}

.main-content-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content-text-title{
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 64px;    
    color: red;
}

.main-content-text-subtitle{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.button{
    border: none;
    border-radius: 55px;
    background: rgb(223, 6, 6);
    color: white;
    font-size: 25px;
    width: 290px;
    height: 50px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Architects Daughter', cursive;
}

.button:hover{
    background: rgb(255, 255, 255);
    color: red;
}

.second-content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 100;
    font-size: 21px;
    color: rgb(41, 41, 41);
    background: rgb(201, 201, 201);
    border-radius: 500px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.753);
}

.second-content-title{
    color: rgb(255, 0, 0);
}

.footer{
    padding: 32px;
}

.footer-logo{
    height: 200px;
    display: block;
    margin: 0 auto;
}